.navbar {
    width: 80%;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 1rem 0;
    border-radius: 40px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  .navbar-logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: #7b1818;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.406);
    margin: 0;
  }
  
  .navbar-menu {
    display: flex;
    gap: 200px;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
  }
  
  .navbar-link {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.3s ease;
  }
  
  .navbar-link:hover {
    color: #6c1818;
  }
  
  @media (max-width: 768px) {
    .navbar {
      width: 90%;
      padding: 1rem;
    }
  
    .navbar-container {
      flex-direction: column;
      padding: 0.5rem;
    }
  
    .navbar-menu {
      margin-top: 1rem;
      gap: 1.5rem;
      justify-content: center;
    }
  
    .navbar-link {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .navbar-logo {
      font-size: 1.5rem;
    }
  
    .navbar-menu {
      gap: 1rem;
    }
  
    .navbar-link {
      font-size: 0.9rem;
    }
  }
  